PORT=3006
NODE_ENV=development
AWS_REGION=us-east-1
NOTIFICATION_TABLE=NotificationTable
EMAIL_PROVIDER=MOCK
SMS_PROVIDER=MOCK
EVENT_PROVIDER=NONE
# SES_FROM_EMAIL=noreply@sunday.example.com
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:NotificationEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/NotificationEvents
# EVENT_BUS_NAME=default
