PORT=3001
NODE_ENV=development
AWS_REGION=us-east-1
PRODUCT_TABLE=ProductsTable
PRODUCT_BUCKET=my-product-bucket
EVENT_PROVIDER=NONE
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:ProductEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/ProductEvents
# EVENT_BUS_NAME=default
