PORT=3001
NODE_ENV=development
AWS_REGION=ap-southeast-1
PRODUCT_TABLE=deepak_product_service
PRODUCT_BUCKET=deepak-product-images
EVENT_PROVIDER=NONE
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:ProductEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/ProductEvents
# EVENT_BUS_NAME=default
