PORT=3003
NODE_ENV=development
JWT_SECRET=jwt_super_secret_key_for_users
AWS_REGION=us-east-1
CART_TABLE=deepak_cart_service
EVENT_PROVIDER=NONE
PRODUCT_SERVICE_URL=https://mo0ocxqe6e.execute-api.ap-southeast-1.amazonaws.com/
INVENTORY_SERVICE_URL=https://mo0ocxqe6e.execute-api.ap-southeast-1.amazonaws.com/
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:CartEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/CartEvents
# EVENT_BUS_NAME=default
