PORT=3003
NODE_ENV=development
AWS_REGION=us-east-1
CART_TABLE=CartTable
EVENT_PROVIDER=NONE
PRODUCT_SERVICE_URL=http://localhost:3001
INVENTORY_SERVICE_URL=http://localhost:3002
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:CartEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/CartEvents
# EVENT_BUS_NAME=default
