PORT=3004
NODE_ENV=development
AWS_REGION=us-east-1
ORDER_TABLE=OrderTable
EVENT_PROVIDER=NONE
CART_SERVICE_URL=http://localhost:3003
INVENTORY_SERVICE_URL=http://localhost:3002
PAYMENT_SERVICE_URL=http://localhost:3005
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:OrderEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/OrderEvents
# EVENT_BUS_NAME=default
