PORT=3005
NODE_ENV=development
AWS_REGION=us-east-1
PAYMENT_TABLE=PaymentTable
PAYMENT_PROVIDER=MOCK
EVENT_PROVIDER=NONE
ORDER_SERVICE_URL=http://localhost:3004
# WEBHOOK_SECRET=your_stripe_or_razorpay_webhook_secret
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:PaymentEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/PaymentEvents
# EVENT_BUS_NAME=default
