PORT=3000
NODE_ENV=development
AWS_REGION=us-east-1
USER_TABLE=UsersTable
PROFILE_BUCKET=my-profile-bucket
JWT_SECRET=supersecretkey
JWT_EXPIRES_IN=1d
EVENT_PROVIDER=NONE
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:UserEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/UserEvents
# EVENT_BUS_NAME=default
