PORT=3002
NODE_ENV=development
AWS_REGION=ap-southeast-1
INVENTORY_TABLE=deepak_inventory_service
EVENT_PROVIDER=NONE
# SNS_TOPIC_ARN=arn:aws:sns:us-east-1:123456789012:InventoryEvents
# QUEUE_URL=https://sqs.us-east-1.amazonaws.com/123456789012/InventoryEvents
# EVENT_BUS_NAME=default
